/*algemeen*/
.input_content {
    width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    padding: 0.5rem;
}

.card {
    background-color: white;
}

.small_text {
    color: gray;
}

.error_message {
    color: red;
    font-size: 12px;
}

.text_button {
    font-size: 14px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
    white-space: nowrap;
}

.text_button:hover {
    color: blue;
}
/*EOF*/

/*app.blade.php*/
.main_nav {
    z-index: 999;
    position: fixed;
    width: 100%;
}

.empty_content {
    height: 55px;
}

/*EOF app.blade.php*/

/*home.blade.php*/
#filter {
    width: 400px;
    transform: translateX(-1000px);
    transition: transform .3s ease-in-out;
    z-index: 1051;

    & #closeFilter {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 20px;
    }
}

.information_block {
    border-radius: 2px;
    margin-right: 10px;
    background-color: lightgrey;
    padding: 0 10px 0 10px;
}

.auth_dashboard_content {
    margin-top: 30px;

    & a {
        text-decoration: none;

        & .card:hover .title {
            text-decoration: underline;
        }
    }

}

.dashboard_content {
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto;

    & .left_content {
        width: 60%;

        & a {
            text-decoration: none;

            & .card {
                margin-bottom: 10px;

                &:hover .title {
                    text-decoration: underline;
                }

                & .card-body {
                    .active_arrow {
                        top: 45;
                        left: 551.5;
                        position: absolute;
                        width: 60px;
                        height: 60px;
                        background-color: white;
                        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    }

                    .active_arrow_border {
                        top: 45;
                        left: 552.5;
                        position: absolute;
                        width: 60px;
                        height: 60px;
                        background-color: lightgray;
                        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    }
                }
            }
        }
    }

    & .right_content {
        width: calc(40% - 15px);

        & .jobmail {
            margin-left: 15px;
            top: 65px;
            border-radius: 0;
            position: sticky;
            height: 450px;
            width: 100%;
            padding: 40px;

            & h4 {
                text-align: center;
            }

            & form {
                & label {
                    margin-top: 20px;
                }

                & input {
                    width: 100%;
                    height: 40px;
                    border: 1px solid lightgray;
                    background-color: white;
                    border-radius: 5px;
                }

                & div {
                    margin: 20px 0 30px 0;
                    display: flex;
                    justify-content: center;

                    & input {
                        font-size: 17px;
                        border: 1px solid lightgray;
                        width: 200px;
                        height: 50px;
                        border-radius: 25px;
                        transition: background-color 0.3s ease, color 0.3s ease;

                        &:hover {
                            background-color: red;
                            color: white
                        }
                    }
                }

                & p {
                    text-align: center;
                }
            }
        }

        & .vacancy_detail {
            display: block;
            margin-left: 30px;
            top: 65px;
            border-radius: 0;
            position: sticky;
            height: 665px;
            width: 100%;

            & .vacancy_header {
                padding: 20px 50px 20px 20px;
                border-bottom: 1px solid gray;
            }

            & .close_button {
                color: black;
                text-decoration: none;
                position: absolute;
                right: 10;
                top: 10;
            }

            & .vacancy_content {
                height: 560px;
                overflow: auto;

                & .vacancy_image {
                    background-image: url('https://th.bing.com/th/id/R.d5213ec4e8d7820a10625d33b8214bfc?rik=Sq%2b7E2M%2fVGk%2bzw&pid=ImgRaw&r=0');
                    width: 100%;
                    height: 90px;

                    & .vacancy_logo {
                        position: relative;
                        width: 75px;
                        height: 75px;
                        top: 40px;
                        left: 30px;
                        border: 1px solid gray;
                        border-radius: 5px;
                    }
                }

                & .vacancy_info {
                    margin: 50px 0 0 30px;
                    display: block;

                    & div:not(:first-of-type) {
                        margin: 10px 20px 0 0;
                        border-top: 1px solid black;
                        padding: 20px;
                    }

                    & .vacancy_row {
                        display: flex;

                        & ul {
                            width: 250px;
                        }
                    }

                    & .vacancy_description {
                        & .vacancy_location {
                            margin: 15px 0 15px 0;
                        }
                    }
                }
            }
        }
    }
}

.form-title {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    justify-content: center;
}

.form-label {
    font-weight: bold;
    margin: 5px 0 0 0;
}

.save {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;

    width: 100%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); /* = shadow-lg */
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.save:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.login-input:focus {
    box-shadow: none;
}

.is-invalid {
    box-shadow: none !important;
}

/*mobiel layout*/
@media screen and (max-width: 768px) {
    .auth_dashboard_content {
        & .open_vacancies {
            width: 100%;
        }

        & .closed_vacancies {
            margin-top: 20px;
            width: 100%;
        }
    }

    .dashboard_content {
        & .left_content {
            width: 100%;
        }

        & .right_content {
            display: none;
        }
    }
}

/*EOF home.blade.php*/

/**/
/*EOF*/
